<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Caveat&family=Gilda+Display&family=Roboto+Slab&display=swap"
  rel="stylesheet"
/>
<div class="carousel-caption d-none d-md-block">
  <p class="display-2 mb-5 txtt">LifeMatch</p>
  <button
    type="button"
    class="b"
    style="border-radius: 30px; width: 200px; height: 50px"
    routerLink="/cadastro"
  >
    Cadastre-se
  </button>
</div>
<video style="width: 100% !important" autoplay muted loop>
  <source src="assets/video/Background.mp4" type="video/mp4" />
</video>
<div class="">
  <!--Banner-->
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <!--Banner-->

    <!--Quem Somos-->
    <div class="backgroundhome shadow mb-5 mt-5" style="border-radius: 20px">
      <div class="p-3 text-justify">
        <h1>Quem Somos?</h1>
        <h3 class="text-light">
          "Ligamos a vontade com a necessidade de ajudar"
        </h3>
        <p>
          Nós do grupo LifeMatch, desenvolvemos uma rede social que tem por
          objetivo principal a ajuda social/comunitária. Buscamos incentivar e
          facilitar o meio de contribuição à Ong 's responsáveis pelo cuidado de
          pessoas carentes, de modo que, através deste projeto consigamos dar
          uma melhor exposição a este problema social.
        </p>
        <h3>Missão</h3>
        <p>
          A missão da LifeMatch é facilitar a forma de ajudar, tornando o ganho
          de arrecadações mais rápido e fácil.
        </p>
        <h3>Visão</h3>
        <p>
          Sempre estar melhorando, visando a construção de um modelo de ajuda na
          qual se adequa na melhor maneira às pessoas.
        </p>
      </div>
    </div>
    <!--Quem Somos-->
    <hr />

    <!--Depoimentos-->
    <div class="row mt-5 mb-5">
      <div class="col-md-4">
        <div class="card mb-2 azulclaro">
          <div class="card-header">
            <img
              style="height: 50px; border-radius: 50%"
              src="https://pbs.twimg.com/profile_images/1266171543991828487/M7AnWb1-_400x400.png"
              alt=""
            />
            <strong> Ubuntu Last Hub</strong>
          </div>
          <div class="card-body">
            <blockquote class="blockquote">
              <p>
                "A LifeMatch é simplemente incrível, pois com ela conseguimos
                arrecadar mais de 50 monitores em apenas 2 dias."
              </p>
              <footer class="blockquote-footer">
                Edinilson Martiniano
                <cite title="Título da fonte">Ubuntu Last Hub</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2 amarelo">
          <div class="card-header">
            <img
              style="height: 50px; width: 50px; border-radius: 50%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc2vdtO_6zRPheYJ3KtNHvTV6Cos9ZW_T0kw&usqp=CAU"
              alt=""
            />
            <strong> Projeto Coração Solidário</strong>
          </div>
          <div class="card-body">
            <blockquote class="blockquote">
              <p>
                "Só temos a agradecer, pois com esse projeto pudemos ver o quão
                útil isto é, e ajudou realmente diversas pessoas."
              </p>
              <footer class="blockquote-footer">
                Bruna Costa
                <cite title="Título da fonte">Projeto Coração Solidário </cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2 rosa">
          <div class="card-header">
            <img
              style="height: 50px; width: 50px; border-radius: 50%"
              src="https://pbs.twimg.com/profile_images/964897461939724293/wGdf4bZQ_400x400.jpg"
              alt=""
            />
            <strong>Toca do Bicho</strong>
          </div>
          <div class="card-body">
            <blockquote class="blockquote">
              <p>
                "Neste momento tão difícil, e poucas pessoas que estão se
                preocupando, a LifeMatch, trouxe mais uma esperança à nós."
              </p>
              <footer class="blockquote-footer">
                José da Silva
                <cite title="Título da fonte">Toca do Bicho </cite>
                <img style="height: 50px; border-radius: 50%" src="" alt="" />
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <!--/Depoimentos-->
    </div>
    <!--fechando 1º container-->
    <hr />
    <br />



    <!--Equipe-->
    <div class="container m-0 p-0 w-100 imgback">
      <div class="row">
        <div class="col-md-12">
          <h2 class="card-text text-center mb-5">Conheça nossa equipe</h2>
        </div>
      </div>

      <div class="row logoback">
        <div class="col-md-6">
          <div class="card mb-3 shadow" style="max-width: 510px">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../../assets/img/perfil-everton.png"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Everton Oliveira</h5>
                  <p class="card-text">Desenvolvedor Web Java FullStack</p>
                  <a
                    href="https://www.linkedin.com/in/everton-luiz/"
                    target="_blank"
                    class="icoLinkedin"
                    title="Linkedin"
                  >
                    <fa-icon
                      [icon]="faLinkedin"
                      class="faLinkedin fa-2x p-1"
                    ></fa-icon
                  ></a>
                  <a href="https://github.com/Everton-Oliver" target="_blank" class="icoGitHub" title="GitHub">
                    <fa-icon
                      [icon]="faGithub"
                      class="faGithub fa-2x p-1"
                    ></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3 shadow" style="max-width: 510px">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../../assets/img/perfil-junior.png"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gildenor Junior</h5>
                  <p class="card-text">Desenvolvedor Web Java FullStack</p>
                  <a
                  href="https://www.linkedin.com/in/gildenorjunior/"
                  target="_blank"
                  class="icoLinkedin"
                  title="Linkedin"
                >
                  <fa-icon
                    [icon]="faLinkedin"
                    class="faLinkedin fa-2x p-1"
                  ></fa-icon
                ></a>
                <a href="https://github.com/gildenorjunior" target="_blank" class="icoGitHub" title="GitHub">
                  <fa-icon
                    [icon]="faGithub"
                    class="faGithub fa-2x p-1"
                  ></fa-icon>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3 shadow" style="max-width: 510px">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../../assets/img/perfil-guilherme.png"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Guilherme Marcionilo</h5>
                  <p class="card-text">Desenvolvedor Web Java FullStack</p>
                  <a
                  href="https://www.linkedin.com/in/guilherme-marcionilo/"
                  target="_blank"
                  class="icoLinkedin"
                  title="Linkedin"
                >
                  <fa-icon
                    [icon]="faLinkedin"
                    class="faLinkedin fa-2x p-1"
                  ></fa-icon
                ></a>
                <a href="https://github.com/Guilherme-Marcionilo" target="_blank" class="icoGitHub" title="GitHub">
                  <fa-icon
                    [icon]="faGithub"
                    class="faGithub fa-2x p-1"
                  ></fa-icon>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3 shadow" style="max-width: 510px">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../../assets/img/perfil-sarah.png"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Sarah Braia</h5>
                  <p class="card-text">Desenvolvedor Web Java FullStack</p>
                  <a
                  href="https://www.linkedin.com/in/sarah-braia-154098149/"
                  target="_blank"
                  class="icoLinkedin"
                  title="Linkedin"
                >
                  <fa-icon
                    [icon]="faLinkedin"
                    class="faLinkedin fa-2x p-1"
                  ></fa-icon
                ></a>
                <a href="https://github.com/sarahbraia" target="_blank" class="icoGitHub" title="GitHub">
                  <fa-icon
                    [icon]="faGithub"
                    class="faGithub fa-2x p-1"
                  ></fa-icon>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3 shadow" style="max-width: 510px">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../../assets/img/perfil-wellington.png"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Wellington Vieira</h5>
                  <p class="card-text">Desenvolvedor Web Java FullStack</p>
                  <a
                  href="https://www.linkedin.com/in/wellingtonvieiradev/"
                  target="_blank"
                  class="icoLinkedin"
                  title="Linkedin"
                >
                  <fa-icon
                    [icon]="faLinkedin"
                    class="faLinkedin fa-2x p-1"
                  ></fa-icon
                ></a>
                <a href="https://github.com/wvieiras" target="_blank" class="icoGitHub" title="GitHub">
                  <fa-icon
                    [icon]="faGithub"
                    class="faGithub fa-2x p-1"
                  ></fa-icon>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/Equipe-->

    <hr>

    <!--INICIO DO FORMULÁRIO-->
    <div class="container mb-5 mt-5">
      <div class="row mb-3 mt-5">
        <div class="col-md-12">
          <h2 class="card-text text-center">Converse com a gente!</h2>
        </div>
      </div>
  
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Digite seu email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
            </div>
           
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Escreva aqui o assunto</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
  
            <div class="form-group d-flex justify-content-end">
              <button class="btn btn-outline-info">Enviar</button>
            </div>
          </form>
        </div>
  
        <div class="col-md-6">
          <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.106696296001!2d-46.65390548535577!3d-23.564611167596592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c7f481fd9f%3A0x9982bfde4df54830!2sAv.%20Paulista%2C%201000%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001310-100!5e0!3m2!1spt-BR!2sbr!4v1594056507065!5m2!1spt-BR!2sbr" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="mapa"
          onmousemove="mapaZoom()"
          onmouseout="mapaNormal()"></iframe>
        </div>
      </div>
    </div>
      <!--/FIM DO FORMULÁRIO-->


  </div>
  <!--fechando 2º container-->
</div>
