
 
  <!--Titulo-->
  <div class="jumbotron jumbotron-fluid mt-5" style="background: #b67ae7">
    <div class="container">
      <h1 class="display-6">Bem vinde, {{nome}}!</h1>
      <p class="lead">Aqui você pode encontrar a ONG que mais combina com você e ver as postagens dela!</p>
    </div>
  </div>

<!--/Titulo-->


<div class="container w-100">
  <!--Linha e coluna dos cards-->
  <div class="row mt-3">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">


      <!--Controls-->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <!--/.Controls-->


        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>

        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--Abertura dos cards -->
          <div class="carousel-item active">

            <!--Primeiro card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 azulclaro">
                <img class="card-img-top" src="../../assets/img/FlorGentil1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Lar - Melhor Idade</h4>
                  <p class="card-text">Somos uma Instituição fundada em 21/06/1935, o que era até então uma vila de
                    moradores, assumindo o trabalho dos Vicentinos, iniciou-se as atividades como Lar de Acolhida de
                    Idosos</p>
                  <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#primeiroModal">Doar</button>
                  </div>
                </div>
              </div>
            </div>
            <!--/Primeiro card-->

            <!--Segundo Card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 azul">
                <img class="card-img-top" src="../../assets/img/crianca.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Mães Solo</h4>
                  <p class="card-text">As mães solo vivenciam uma sobrecarga mental e física imensa, tentam sozinhas
                    conciliar os cuidados com a casa, a limpeza, necessidades básicas, obrigações do trabalho e
                    educação.</p>
                    <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#segundoModal">Doar</button>
                  </div>
                </div>
              </div>
            </div>
            <!--Segundo Card-->

            <!--Terceiro Card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 rosa">
                <img class="card-img-top" src="../../assets/img/criancas2.jpg" height="169" width="253"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Amigos do Bem</h4>
                  <p class="card-text">Conscientes de que a educação é a base para o desenvolvimento humano, trabalhamos
                    para oferecer programas educacionais a crianças e jovens das comunidades atendidas.</p>
                    <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#terceiroModal">Doar</button>
                    </div>
                </div>
              </div>
            </div>
            <!--/Terceiro Card-->

            <!--Quarto Card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 roxo">
                <img class="card-img-top" src="../../assets/img/criancasafrica.jpg" height="169" width="253"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Sem Fronteira</h4>
                  <p class="card-text"> ONG teve início em São Paulo (SP), em meados de 2000. A organização espalhou-se
                    para outros estados. Em 8 anos, a ONG soma 500 voluntários, dentro e fora do Brasil transformando o
                    futuro.</p>
                    <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#quartoModal">Doar</button>
                  </div>
                </div>
              </div>
            </div>
            <!--/Quarto Card-->

          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">

            <!--Primeiro Card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 azulclaro">
                <img class="card-img-top" src="../../assets/img/carreira.png" height="169" width="253"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Semear</h4>
                  <p class="card-text">Como se o caminho percorrido até o momento de ingressar na faculdade não fosse
                    árduo o suficiente para um jovem de baixa renda, procuramos auxiliar o jovem que sonha com seu
                    sucesso.</p>
                    
                    <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#quintoModal">Doar</button>
                    </div>

                </div>
              </div>
            </div>
            <!--/Primeiro Card-->

            <!--Segundo Card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 azul">
                <img class="card-img-top" src="../../assets/img/morador.jpg" height="169" width="253"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Anjos da Noite</h4>
                  <p class="card-text">Os Anjos da Noite é uma associação sem fins lucrativos que tem como real objetivo
                    a reinserção da pessoa em situação de rua. Distribuímos muito amor e escuta ativa todas as semanas.
                  </p>
                  <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#sextoModal">Doar</button>
                    </div>

                </div>
              </div>
            </div>
            <!--/Segundo Card-->

            <!--Terceiro Card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 rosa">
                <img class="card-img-top" src="../../assets/img/hospital.jpeg" height="169" width="253"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Hospitalhaços</h4>
                  <p class="card-text">Hospitalhaços é uma organização da sociedade civil sem fins lucrativos que
                    introduziu a arte do palhaço no universo da saúde, intervindo junto a crianças, adolescentes em
                    hospitais.</p>
                    <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#setimoModal">Doar</button>
                    </div>
                </div>
              </div>
            </div>
            <!--/Terceiro Card-->

            <!--Quarto Card-->
            <div class="col-md-3" style="float:left">
              <div class="card mb-2 roxo">
                <img class="card-img-top" src="../../assets/img/alimento2.jpg" height="169" width="253"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Alimentar</h4>
                  <p class="card-text">Sem fins lucrativos, de caráter organizacional, assistencial, filantrópico, com
                    finalidade de atender aos que a ela se dirigirem, independente de classe social ou crença religiosa.
                  </p>
                  <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#oitavoModal">Doar</button>
                    </div>
                </div>
              </div>
            </div>
            <!--/Quarto Card-->

          </div>
          <!--/.Second slide-->

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>

        </div>
        <!--/.Slides-->
      </div>
      <!--Carousel Controls-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>
  <!--/Linha e coluna dos cards-->
</div>


<!--Titulo de divisão Postagens-->
<div class="jumbotron jumbotron-fluid mt-4" style="background: #b67ae7">
  <div class="container">
    <h1 class="display-6">Veja as postagens recentes das ONG's</h1>
    <p class="lead">Aqui você pode encontrar a ONG que mais combina com você e ver as postagens dela!</p>
  </div>
</div>
<!--/Titulo de divisão Postagens-->


<div class="container w-100">


  <!--Pesquisa Postagens-->

<div class="row">
  <div class="col-md-6">
    <button class="mudaomouse btn-lg d-flex justify-content-start" style="background: #9DDBF0; border:1px solid #BEE4E7 !important; color:black !important;" routerLink="/form-postagens">Criar Postagem</button>
  </div>
  <div class="col-md-6">
    <nav class="d-flex justify-content-end">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#minhas-postagens"
          role="tab" aria-controls="nav-home" aria-selected="true">Minhas Postagens</a>
        
        <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#postagens-temas" role="tab"
          aria-controls="nav-profile" aria-selected="false">Postagens por tema</a>
      </div>
    </nav>
  </div>
</div>



<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="minhas-postagens" role="tabpanel" aria-labelledby="nav-postagens-tab">
    <div class="row mt-3 mb-3">
      <div class="col-md-10 pr-0">
        <input class="form-control w-100" type="search" placeholder="Pesquisar postagem" aria-label="Pesquisar" [(ngModel)]='titulo'>
      </div>
      <div class="col-md-2 pl-0">
        <button class="btn mudaomouse w-100" style="background: #9DDBF0; border:1px solid #BEE4E7 !important; color:black !important;" type="button" (click)='findByTituloPostagem()'>Pesquisar</button>
      </div>


      <!--Inicio das pesquisas por Postagem-->
      <div class="row">
        <div class="col-md-12" *ngFor="let item of listaPostagens | orderBy : key : reverse">
          
          <div class="container w-100">
          <div class="card mt-4 shadow">
            <div class="card-header" style="background: #9ddbf0; border:1px solid #BEE4E7;">
              <strong>Tema: </strong>{{item.tema.categoriaAjuda}}
            </div>
            <div class="card-body" style="border:1px solid #9ddbf0;">
              
              <div class="row">

                <div class="col-md-7">
                  <h3 class="card-title">{{item.titulo}}</h3>
                  <p class="card-text">{{item.descricao}}</p>
                </div>
                <div class="col-md-5 d-flex justify-content-end align-self-center">
                  <img width="300px" height="300px" src="https://i.pinimg.com/originals/33/79/6a/33796ac32ac5f2acfb2984e48114d9e4.jpg" alt="Generic placeholder image">
                </div>

              </div>

              <div class="row">
                <div class="col-md-12 d-flex">
                  <button type="button" class="btn btn-outline-warning mr-1" [routerLink]="['/editar-postagem', item.idPostagem]">Editar</button>
                  <button type="button" class="btn btn-outline-danger" [routerLink]="['/deletar-postagem', item.idPostagem]">Apagar</button>
                </div>
              </div>
              
            </div>
          </div>
          </div>
        </div>
      </div>
      
      <!--/Fim das pesquisas por Postagem-->

    </div>
  </div>

  <div class="tab-pane fade" id="postagens-temas" role="tabpanel" aria-labelledby="nav-presenca-tab">

    <div class="row mt-3 mb-3">
      <div class="col-md-10 pr-0">
        <input class="form-control w-100" type="search" placeholder="Pesquisar tema" aria-label="Pesquisar" [(ngModel)]='categoriaAjuda'>
      </div>
      <div class="col-md-2 pl-0">
        <button class="btn mudaomouse btn-outline-primary w-100" style="background: #9DDBF0; border:1px solid #BEE4E7 !important; color:black !important;" type="button" (click)='findByNomeTema()'>Pesquisar</button>
      </div>
    </div>

      <!--Inicio das pesquisas por Tema-->
      <div class="row mb-3">
        <div class="col-md-12" *ngFor="let item of listaTemas | orderBy : key : reverse">
          <div *ngFor='let post of item.postagem'>
            

            <div class="card mt-4">

              <div class="card-body">
                <div class="row">
                  <div class="col-md-7 align-self-center">
                    <h3 class="card-title">{{post.titulo}}</h3>
                    <p class="card-text">{{post.descricao}}</p>
                  </div>
                  <div class="col-md-5 d-flex justify-content-end align-self-center">
                    <img width="300px" height="300px" src="https://i.pinimg.com/originals/33/79/6a/33796ac32ac5f2acfb2984e48114d9e4.jpg" alt="Generic placeholder image">
                  </div>
                  <div class="row">
                    <div class="col-md-12 d-flex ml-2">
                      <button type="button" class="btn btn-outline-warning mr-1" [routerLink]="['/editar-postagem', item.idPostagem]">Editar</button>
                      <button type="button" class="btn btn-outline-danger" [routerLink]="['/deletar-postagem', item.idPostagem]">Apagar</button>
                    </div>
                  </div>
                </div>                
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--/Fim das pesquisas por Tema-->

    </div>
  </div>
<!--/Pesquisa Postagens-->



  <!-- Primeiro Modal -->
  <div class="modal fade azulclaro" id="primeiroModal" tabindex="-1" role="dialog"
    aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, assumenda laboriosam explicabo repellendus
            inventore illum sint nulla earum asperiores! Cum a ullam at adipisci ipsam voluptatum tempora accusamus
            blanditiis? Saepe!</p>

          Livros
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Cadernos
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->



  <!--Segundo Modal -->
  <div class="modal fade" id="segundoModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>As mães solo vivenciam uma sobrecarga mental e física imensa, tentam sozinhas conciliar os cuidados com a
            casa, a limpeza, necessidades básicas, obrigações do trabalho e educação.</p>

          Ajuda Financeira
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Emprego
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->


  <!--Terceiro Modal -->
  <div class="modal fade" id="terceiroModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Conscientes de que a educação é a base para o desenvolvimento humano, trabalhamos para oferecer programas
            educacionais a crianças e jovens das comunidades atendidas.</p>

          Livros
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Cadernos
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->


  <!-- Quarto Modal -->
  <div class="modal fade" id="quartoModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>ONG teve início em São Paulo (SP), em meados de 2000. A organização espalhou-se para outros estados. Em 8
            anos, a ONG soma 500 voluntários, dentro e fora do Brasil transformando o futuro. </p>

          Alimentos
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Itens de higiene
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->


  <!--Quinto Modal -->
  <div class="modal fade" id="quintoModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Como se o caminho percorrido até o momento de ingressar na faculdade não fosse árduo o suficiente para um
            jovem de baixa renda, procuramos auxiliar o jovem que sonha com seu sucesso.

          </p>

          Empregados
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Bolsas de estudo
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->

  <!--Sexto Modal -->
  <div class="modal fade" id="sextoModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Os Anjos da Noite é uma associação sem fins lucrativos que tem como real objetivo a reinserção da pessoa em
            situação de rua. Distribuímos muito amor e escuta ativa todas as semanas.</p>

          Alimentos
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Vestimentas
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->


  <!--Sétimo Modal -->
  <div class="modal fade" id="setimoModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Hospitalhaços é uma organização da sociedade civil sem fins lucrativos que introduziu a arte do palhaço no
            universo da saúde, intervindo junto a crianças, adolescentes em hospitais.
          </p>

          Ajuda Financeira
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Ajuda em Hospitais
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->

  <!--Oitavo Modal -->
  <div class="modal fade" id="oitavoModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Veja sobre as arrecadações e seu progresso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Sem fins lucrativos, de caráter organizacional, assistencial, filantrópico, com finalidade de atender aos
            que a ela se dirigirem, independente de classe social ou crença religiosa.
          </p>

          Alimentos
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>

          Higiene
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a href="https://wa.me/5511948629540"><button type="button" class="btn btn-primary">Contribuir</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Botão para acionar modal -->