.azulclaro{
   background: #BEE4E7;
}
.azul{
   background: #9DDBF0;
}
.amarelo{
   background: #FBF6BC;
}
.rosa{
   background: #F8C9D3;
}

.roxo{
   background: #d3bedd;
}

.mudaomouse:hover{
   background:rgb(76, 219, 245) !important;
}